.review-link {
  margin-left: 10px !important;
}
.book-container {
  margin-top: 5%;
  padding: 10px !important;
  margin-bottom: 5%;
  box-sizing: border-box;
  min-height: 72vh;

}
.comm-close-icon {
  float: right !important;
  color: rgba(0,0,0,.85) !important;
  cursor: pointer;
}
.comm-modal {
  padding: 15px !important;
}
.stars-box {
  margin-bottom: 20px;
}
.not-found{
  font-weight: 700;
}
.book-header {
  border-bottom: 3px solid rgba(34,36,38,.15) !important;
}
